.mdl-layout__header-row {
  padding-left: 40px;
}

#search {
  flex: 1;

  position: relative;
  height: 100%;
  overflow: visible;
}

.search__title,
.search__and {
  font-size: 1.5em;
  word-spacing: 5px;
}

#search__input-fields {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  height: 100%;
  overflow: visible;
}

#search__input-fields .mdl-textfield {
  margin-left: 60px;
  margin-right: 60px;
  width: 200px;
}

#search__input-fields .mdl-textfield,
#search__input-fields .mdl-textfield > .mdl-textfield__label {
  color: rgba(215,218,219,0.6);
}

#search #search-button {
  position: absolute;
  top: 100%;
  right: 30px;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}


.search__input-fields__title {
  font-size: 18px;
}


#keyword-search {
  padding: 15px 130px 15px 30px;
  background-color: #7986CB;
}

#keyword-search .mdl-textfield {
  width: 100%;
}

#keyword-search .mdl-textfield,
#keyword-search .mdl-textfield > .mdl-textfield__label {
  color: white;
}

#search_loading {
  margin: 50px auto;
}

#suggested-keywords {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 5px 20px;
}
#suggested-keywords > .suggested-keywords__title {
  flex-grow: 0;
  flex-shrink: 0;

  padding-right: 30px;
}
#suggested-keywords > #suggested-keywords__list {
  flex-grow: 1;
  flex-shrink: 1;
}

#suggested-keywords__list {
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: visible;
}
#suggested-keywords__list > .suggested-keyword {
  display: inline-block;
  padding-right: 15px;
  max-width: 300px;
  overflow: hidden;

  -webkit-transition: padding-right 300ms ease, max-width 300ms ease;
  -moz-transition: padding-right 300ms ease, max-width 300ms ease;
  -ms-transition: padding-right 300ms ease, max-width 300ms ease;
  -o-transition: padding-right 300ms ease, max-width 300ms ease;
  transition: padding-right 300ms ease, max-width 300ms ease;
}
#suggested-keywords__list > .suggested-keyword > .suggested-keyword__label {
  font-size: 14px;
  text-transform: capitalize;
}

#suggested-keywords__list > .suggested-keyword.suggested-keyword--selected {
  padding-right: 0;
  max-width: 0;
}


#search-result {
  padding: 50px 80px 120px 80px;
  background-color: #F2F2F2;
}

.search-result__title {
  margin-bottom: 10px;
  font-size: 18px;
}

.search-result__item {
  background-color: white;
  margin-bottom: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 25px;
  max-height: 30px;
  overflow: hidden;

  -webkit-transition: margin 200ms ease, max-height 200ms ease;
  -moz-transition: margin 200ms ease, max-height 200ms ease;
  -ms-transition: margin 200ms ease, max-height 200ms ease;
  -o-transition: margin 200ms ease, max-height 200ms ease;
  transition: margin 200ms ease, max-height 200ms ease;
}

.search-result__item .search-result__item__title {
  font-size: 16px;
  text-transform: capitalize;
}

.search-result__item .search-result__item__title .material-icons {
  float: right;
}

.search-result__item > .search-result__item__overview {
  display: block;
}
.search-result__item > .search-result__item__detail {
  display: none;
}

/* .search-result__item:hover, */
.search-result__item.search-result__item--active {
  margin: 30px -20px 30px -20px;
  max-height: 1000px;
}

/* .search-result__item:hover > .search-result__item__overview, */
.search-result__item.search-result__item--active > .search-result__item__overview {
  display: none;
}

/* .search-result__item:hover > .search-result__item__detail, */
.search-result__item.search-result__item--active > .search-result__item__detail {
  display: block;
}


.sentence__token {

}

.sentence__token--entity {
  color: #5BC0EB;
}

.sentence__token--em {
  color: #9BC53D;
}

.sentence__token--vp {
  color: #E55934;
}

.sentence__token--keyword {
  color: #FA7921;
}

.sentence--selected {
  font-weight: bold;
}

.search-result__item__detail__tokens {
  font-weight: normal;
  font-size: 1em;
  -webkit-transition: font-size 200ms ease, font-weight 200ms ease;
  -moz-transition: font-size 200ms ease, font-weight 200ms ease;
  -ms-transition: font-size 200ms ease, font-weight 200ms ease;
  -o-transition: font-size 200ms ease, font-weight 200ms ease;
  transition: font-size 200ms ease, font-weight 200ms ease;
}

.search-result__item__detail__wrapper:hover > .search-result__item__detail__tokens {
  font-weight: bold;
  font-size: 1.2em;
}
