<template name="search">
  <div id="search">
    <div id="search__input-fields">
      <span class="search__title">Search Entity Relation between</span>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="Entity1" autofocus="autofocus">
        <label class="mdl-textfield__label" for="field1">Entity1...</label>
      </div>

      <span class="search__and">and</span>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="Entity2">
        <label class="mdl-textfield__label" for="field2">Entity2...</label>
      </div>

    </div>

    <!-- Colored FAB button -->
    <button id="search-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">search</i>
    </button>
  </div>

</template>