<template name="search">
  <div id="search">
    <div id="search__input-fields">
      <div class="search__input-fields__title">Search</div>
      <hr/>
      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="field1" autofocus="autofocus">
        <label class="mdl-textfield__label" for="field1">Entity1...</label>
      </div>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="field2">
        <label class="mdl-textfield__label" for="field2">Entity2...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows= "3" id="search-keywords-input" ></textarea>
        <label class="mdl-textfield__label" for="search-keywords-input">Keywords...</label>
      </div>

    </div>

    <ul id="search__suggest-keywords" class="mdl-list">
      <div class="search__suggest-keywords__title">Suggested Keywords</div>
      <hr/>
      {{#each suggestedKeywords}}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          {{this}}
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="search__suggest-keywords__action-add mdl-button mdl-js-button mdl-button--icon" data-keyword="{{this}}">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- Colored FAB button -->
  <button id="search-button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">search</i>
  </button>
</template>