<template name="search">
  <div id="search">
    <div id="search__input-fields">
      <div><b>Search</b></div>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="field1" autofocus="autofocus">
        <label class="mdl-textfield__label" for="field1">Field1...</label>
      </div>

      <!-- Simple Textfield -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="field2">
        <label class="mdl-textfield__label" for="field2">Field2...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows= "3" id="search-keywords-input" ></textarea>
        <label class="mdl-textfield__label" for="search-keywords-input">Keywords...</label>
      </div>

    </div>

    <ul id="search__suggest-keywords" class="mdl-list">
      <div><b>Suggested Keywords</b></div>

      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bryan Cranston
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Aaron Paul
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bob Odenkirk
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bryan Cranston
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Aaron Paul
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bob Odenkirk
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bryan Cranston
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Aaron Paul
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          Bob Odenkirk
        </span>
        <span class="mdl-list__item-secondary-action">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button>
        </span>
      </li>
    </ul>
  </div>
  <!-- Colored FAB button -->
  <button id="search-button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i class="material-icons">search</i>
  </button>
</template>